<h1 class="admin-center">Create a New Exercise</h1>

<div class="form-container">
	<%= form_for @exercise, url: exercise_path, method: :put, html: { role: 'form' } do |f| %>
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :sets %>
			<%= f.select :sets, [0..5] %>
		</div>
		<div class="form-group">
			<%= f.label :day %>
			<%= f.select :day, Day.order(order: :asc).pluck(:name, :id) %>
		</div>
		<div class="form-group">
			<%= f.label :one_rep_base_weight %>
			<%= f.text_field :one_rep_base_weight, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :cumulative_base_weight %>
			<%= f.text_field :cumulative_base_weight, class: 'form-control' %>
		</div>
		<%= f.submit class: 'btn btn-default' %>
	<% end %>
</div>
