<h1 class="admin-center">Create a New Day Routine</h1>

<div class="form-container">
	<%= form_for @day, url: days_path(@day), method: :post, html: { role: 'form' } do |f| %>
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :order, "Insert After: " %>
			<%= f.select :order, current_user.days.map{|c| [c.name, c.id] }.prepend(['First', -1]) %>
		</div>
		<%= f.submit class: 'btn btn-default' %>
	<% end %>
</div>
