<h1 class="admin-center"><%= "#{@exercise.day.name}: #{@exercise.name}" %></h1>

<div class="form-container">
	<div style="float:left;max-width:500px;">
		<span style="float:left;font-size:1.5em;">
			<i class='fa fa-caret-right'></i>&nbsp;&nbsp;
		</span>
		<span style="float:right;font-size:1.5em;">Name: <%= @exercise.name %></span>
	</div>
	<br />
	<br />
	<div style="float:left;max-width:500px;">
		<span style="float:left;font-size:1.5em;">
			<i class='fa fa-caret-right'></i>&nbsp;&nbsp;
		</span>
		<span style="float:right;font-size:1.5em;">Rank: <%= @exercise.rank %></span>
	</div>
	<br />
	<br />
	<div style="float:left;max-width:500px;">
		<span style="float:left;font-size:1.5em;">
			<i class='fa fa-caret-right'></i>&nbsp;&nbsp;
		</span>
		<span style="float:right;font-size:1.5em;">Sets: <%= @exercise.sets %></span>
	</div>
	<br />
	<br />
	<div style="float:left;max-width:500px;">
		<span style="float:left;font-size:1.5em;">
			<i class='fa fa-caret-right'></i>&nbsp;&nbsp;
		</span>
		<span style="float:right;font-size:1.5em;">Day: <%= @exercise.day.name %></span>
	</div>
	<br />
	<br />
	<div style="float:left;max-width:500px;">
		<span style="float:left;font-size:1.5em;">
			<i class='fa fa-caret-right'></i>&nbsp;&nbsp;
		</span>
		<span style="float:right;font-size:1.5em;">1-Rep Base: <%= @exercise.one_rep_base_weight %></span>
	</div>
	<br />
	<br />
	<div style="float:left;max-width:500px;">
		<span style="float:left;font-size:1.5em;">
			<i class='fa fa-caret-right'></i>&nbsp;&nbsp;
		</span>
		<span style="float:right;font-size:1.5em;">Cumulative Base: <%= @exercise.cumulative_base_weight %></span>
	</div>
</div>
